.home {
    background-color: var(--secundario);
    color: var(--primario);
    text-align: center;
    padding: 10rem 2rem;
    position: relative;
    /*overflow: hidden;*/
}

.home h1 {
    font-family: var(--fuenteHeading);
    font-size: 5rem;
    color: var(--primario);
    margin-top: 0rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 700;
    opacity: 0.9;
    animation: fadeIn 1s ease-out forwards;
}

.home p {
    font-family: var(--fuenteParrafos);
    font-size: 2rem;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
    color: var(--primarioHover);
    margin-bottom: 3rem;
    opacity: 0.8;
    animation: fadeIn 1s ease-out forwards 0.5s;
}

.cta-button {
    display: inline-block;
    padding: 1.5rem 3rem;
    background-color: var(--primario);
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards 1s;
}

.cta-button:hover {
    background-color: var(--primarioHover);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilo responsive */
@media (max-width: 768px) {
    .home {
        padding: 5rem 2rem;
    }
    .home h1 {
        font-size: 3rem;
    }

    .home p {
        font-size: 1.5rem;
    }

    .cta-button {
        font-size: 1.2rem;
    }
}
