.content {
    padding: 3rem 0;
    margin: 2rem auto;
    max-width: 800px;
    text-align: left;
}

span {
    background-color: var(--primarioHover);
    color: var(--secundario);
    padding: 1rem;
    border-radius: 8px;
    overflow-x: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.resalto {
    font-weight: bold;
    background-color: rgba(190, 190, 190, 0.586);
    border-radius: 4px;
    padding: 0.2rem 0.4rem;
}

#about a {
    color: var(--rojo);
    text-decoration: none;
    transition: color 0.3s ease;
}

#about a:hover {
    color: var(--rojoHover);
}

#about a:visited {
    color: var(--resalto);
}

.content {
    padding: 2rem 1rem;
    margin: 1.5rem auto;
    max-width: 800px;
    text-align: left;
}

span {
    background-color: var(--primarioHover);
    color: var(--secundario);
    padding: 0.8rem;
    border-radius: 8px;
    overflow-x: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.resalto {
    font-weight: bold;
    background-color: rgba(190, 190, 190, 0.586);
    border-radius: 4px;
    padding: 0.2rem 0.4rem;
}

#about a {
    color: var(--rojo);
    text-decoration: none;
    transition: color 0.3s ease;
}

#about a:hover {
    color: var(--rojoHover);
}

#about a:visited {
    color: var(--resalto);
}

/* Ajustes para pantallas con un max-width de 768px*/
@media (max-width: 768px) {
    .content {
        padding: 1.5rem 1rem;
        margin: 1.5rem auto;
    }

    h2, h3 {
        font-size: 2.7rem;
        padding: 0 2rem;
    }

    p {
        font-size: 1.6rem;
        padding: 0 2rem;
    }

    span {
        padding: 0.8rem;
        font-size: 1rem;
    }

    .resalto {
        padding: 0.2rem 0.4rem;
        font-size: 1.1rem;
    }

    pre code {
        font-size: 1.1rem;
    }
}