.navegacion-principal {
    position: absolute;
    top: 3rem; 
    right: 4rem;
    display: flex;
    gap: 2rem;
}

.navegacion-principal a {
    font-size: 2rem;
    color: var(--secundario);
    text-decoration: none;
}


a {
    text-decoration: none;
    color: var(--secundario);
    font-size: 2.5rem;
    margin: 0 1rem;
}

a:hover {
    color: var(--secundarioHover);
}

/* Estilos para pantallas con min-width: 768px */
@media (max-width: 768px) {
    .navegacion-principal {
        position: absolute;
        top: 3rem;
        left: 50%;
        transform: translateX(-50%);
        gap: 2rem;
        text-align: center;
    }

    .navegacion-principal a {
        font-size: 1.8rem;
    }

    a {
        margin: 0 1.6rem;

    }
}