.navegacion-principal {
    position: absolute;
    top: 3rem; 
    right: 4rem;
    display: flex;
    gap: 2rem;
}

.navegacion-principal a {
    font-size: 2rem;
    color: var(--secundario);
    text-decoration: none;
}


a {
    text-decoration: none;
    color: var(--secundario);
    font-size: 2.5rem;
    margin: 0 1rem;
}

a:hover {
    color: var(--secundarioHover);
}

/* Estilos para pantallas con min-width: 768px */
@media (max-width: 768px) {
    .navegacion-principal {
        display: none;
    }
}